Repository rbaker26/SAP1EMU, pull requests merged in 2020-10, with the labels that each got.

#103 LDI Implementation and GUI Fixes
  SAP1EMU.CLI.Test/CommandLineArgsTest.cs
  SAP1EMU.CLI.Test/LDI.s
  SAP1EMU.CLI.Test/SAP1EMU.CLI.Test.csproj
  SAP1EMU.GUI/InstructionSets.json
  SAP1EMU.GUI/Views/Home/Contributors.cshtml
  SAP1EMU.GUI/Views/Home/Emulator.cshtml
  SAP1EMU.GUI/wwwroot/js/CodeMirror/mode/gas/gas_sap1.js
  SAP1EMU.GUI/wwwroot/js/Views/EmulatorView.js
  SAP1EMU.Lib/InstructionSets.json
  SAP1EMU.Lib/Registers/IReg.cs
Labels: GUI, Lib/Engine

#104 added signed/unsigned and speed fix
  SAP1EMU.GUI/Views/Home/Emulator.cshtml
  SAP1EMU.GUI/wwwroot/js/Views/EmulatorView.js
Labels: GUI

#107 Docs - Finished 8Bit Learning Module
  SAP1EMU.GUI/Controllers/DocsController.cs
  SAP1EMU.GUI/Models/FeatureNotReadyModel.cs
  SAP1EMU.GUI/Models/PageNavHelperModel.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_3.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_4.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_5.cshtml
  SAP1EMU.GUI/Views/Docs/LowLevelLanguages_1.cshtml
  SAP1EMU.GUI/Views/Docs/_DocNav.cshtml
  SAP1EMU.GUI/Views/Docs/_EightBitProgramming_TOC.cshtml
  SAP1EMU.GUI/Views/Docs/_InstructionSets.cshtml
  SAP1EMU.GUI/Views/Docs/_InstructionSetsBinary.cshtml
  SAP1EMU.GUI/Views/Docs/_PageNavHelper.cshtml
  SAP1EMU.GUI/Views/Shared/_FeatureNotReadyPartial.cshtml
  SAP1EMU.GUI/wwwroot/js/Views/Docs/8BitProgramming_3.js
  SAP1EMU.GUI/wwwroot/js/Views/Docs/8BitProgramming_5.js
Labels: GUI, documentation

#113 Fixed Typos in Docs Pages - Added New Contributor
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_2.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_3.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_4.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_5.cshtml
  SAP1EMU.GUI/Views/Home/Contributors.cshtml
Labels: GUI, documentation

#114 Fixed Cryptic Error Messages - No HLT
  SAP1EMU.Assembler/Assemble.cs
  SAP1EMU.CLI.Test/CommandLineArgsTest.cs
  SAP1EMU.CLI.Test/NoHLT.s
  SAP1EMU.CLI.Test/SAP1EMU.CLI.Test.csproj
  SAP1EMU.Lib.Test/AssemblerTest.cs
Labels: Lib/Engine

#116 Version 2.1.0 Release - GUI & Engine Improvements
  SAP1EMU.Assembler/Assemble.cs
  SAP1EMU.CLI.Test/CommandLineArgsTest.cs
  SAP1EMU.CLI.Test/EmptyFile.s
  SAP1EMU.CLI.Test/Fib5.b
  SAP1EMU.CLI.Test/NoHLT.s
  SAP1EMU.CLI.Test/SAP1EMU.CLI.Test.csproj
  SAP1EMU.CLI/Program.cs
  SAP1EMU.CLI/SAP1EMU.CLI.csproj
  SAP1EMU.Engine/EngineProc.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_2.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_3.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_4.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_5.cshtml
  SAP1EMU.GUI/Views/Home/Assembler.cshtml
  SAP1EMU.GUI/Views/Home/Contributors.cshtml
  SAP1EMU.GUI/Views/Home/Emulator.cshtml
  SAP1EMU.GUI/wwwroot/js/Views/AssemblerView.js
  SAP1EMU.GUI/wwwroot/js/Views/EmulatorView.js
  SAP1EMU.GUI/wwwroot/js/site.js
  SAP1EMU.Lib.Test/AssemblerTest.cs
  SAP1EMU.Lib/Components/ALU.cs
  SAP1EMU.Lib/Components/Flags.cs
  SAP1EMU.Lib/Frame.cs
  SAP1EMU.Lib/RAMProgram.cs
Labels: GUI, Lib/Engine

#133 Bug Report/Feature request portals inside a centralized Help page
  .gitattributes
  SAP1EMU.GUI/Controllers/HelpController.cs
  SAP1EMU.GUI/Controllers/ReportController.cs
  SAP1EMU.GUI/Models/BugReport.cs
  SAP1EMU.GUI/Models/FeatureRequest.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/Startup.cs
  SAP1EMU.GUI/Views/Help/Index.cshtml
  SAP1EMU.GUI/Views/Help/ReportBug.cshtml
  SAP1EMU.GUI/Views/Help/RequestFeature.cshtml
  SAP1EMU.GUI/Views/Shared/_Layout.cshtml
  SAP1EMU.GUI/wwwroot/css/site.css
  SAP1EMU.GUI/wwwroot/img/Help/computer-bug.svg
  SAP1EMU.GUI/wwwroot/img/Help/feature.svg
  SAP1EMU.GUI/wwwroot/js/Views/ReportView.js
  SAP1EMU.GUI/wwwroot/js/site.js
Labels: API, GUI, enhancement

#135 NuGet Updates
  SAP1EMU.Engine/SAP1EMU.Engine.csproj
  SAP1EMU.GUI/Controllers/DocsController.cs
  SAP1EMU.GUI/Views/Docs/APIDocs_1.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_2.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_3.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_4.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_1.cshtml
  SAP1EMU.GUI/Views/Docs/_APIDocs_TOC.cshtml
  SAP1EMU.GUI/Views/Docs/_DocNav.cshtml
  SAP1EMU.GUI/wwwroot/img/Docs/java.svg
  SAP1EMU.GUI/wwwroot/img/Docs/jquery.svg
  SAP1EMU.GUI/wwwroot/img/Docs/nodejs.svg
  SAP1EMU.GUI/wwwroot/img/Docs/python3.svg
  SAP1EMU.GUI/wwwroot/img/Docs/ruby.svg
  SAP1EMU.GUI/wwwroot/img/Docs/swagger_snip.PNG
Labels: dependencies

#136 bump asp.net packages
  SAP1EMU.GUI.TEST/SAP1EMU.GUI.Test.csproj
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
Labels: dependencies

#140 Added check for necessary 16 lines of code
  SAP1EMU.Assembler.Test/AssemblerTest.cs
  SAP1EMU.Assembler/Assemble.cs
Labels: Lib/Engine, Testing

#141 API Updates and Documentation
  SAP1EMU.GUI/Controllers/HomeController.cs
  SAP1EMU.GUI/Models/CodePacket.cs
  SAP1EMU.GUI/Views/Docs/APIDocs_1.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_2.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_3.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_4.cshtml
  SAP1EMU.GUI/Views/Docs/EightBitProgramming_3.cshtml
  SAP1EMU.GUI/Views/Help/Index.cshtml
  SAP1EMU.GUI/Views/Home/Emulator.cshtml
  SAP1EMU.GUI/Views/Shared/_FeatureNotReadyPartial.cshtml
  SAP1EMU.GUI/Views/Shared/_Layout.cshtml
  SAP1EMU.GUI/wwwroot/js/CodeMirror/mode/javascript/javascript.js
  SAP1EMU.GUI/wwwroot/js/CodeMirror/mode/python/python.js
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_3.js
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_4.js
  SAP1EMU.GUI/wwwroot/js/Views/EmulatorView.js
  SAP1EMU.GUI/wwwroot/js/Views/ReportView.js
Labels: API, GUI, documentation, enhancement
