Repository rbaker26/SAP1EMU, pull requests merged in 2020-11, with the labels that each got.

#154 Java api added
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_3.js
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_4.js
Labels: GUI, documentation

#155 v3.1.0 Release
  SAP1EMU.CLI/SAP1EMU.CLI.csproj
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/Views/Docs/APIDocs_1.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_3.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_4.cshtml
  SAP1EMU.GUI/Views/Docs/_DocNav.cshtml
  SAP1EMU.GUI/Views/Docs/_PageNavHelper.cshtml
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_3.js
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_4.js
Labels: GUI, documentation

#157 Prod Release v3.1.0
  SAP1EMU.CLI/SAP1EMU.CLI.csproj
  SAP1EMU.GUI/Controllers/HomeController.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/Views/Docs/APIDocs_1.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_3.cshtml
  SAP1EMU.GUI/Views/Docs/APIDocs_4.cshtml
  SAP1EMU.GUI/Views/Docs/_DocNav.cshtml
  SAP1EMU.GUI/Views/Docs/_PageNavHelper.cshtml
  SAP1EMU.GUI/Views/Home/EmulatorPicker.cshtml
  SAP1EMU.GUI/wwwroot/img/EmulatorPicker/16bit.png
  SAP1EMU.GUI/wwwroot/img/EmulatorPicker/8086.png
  SAP1EMU.GUI/wwwroot/img/EmulatorPicker/8bit.png
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_3.js
  SAP1EMU.GUI/wwwroot/js/Views/Docs/APIDocs_4.js
Labels: Release

#165 Robots.txt and Sitemap
  SAP1EMU.GUI/Controllers/SitemapController.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/wwwroot/robots.txt
Labels: DevOps

#166 Added Robots.txt and Sitemap
  SAP1EMU.GUI/Controllers/SitemapController.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
  SAP1EMU.GUI/wwwroot/robots.txt
Labels: DevOps

#170 Added Web Integration Testing
  SAP1EMU.GUI.TEST/AutomatedUITests.cs
  SAP1EMU.GUI.TEST/SAP1EMU.GUI.Test.csproj
  SAP1EMU.GUI.TEST/Tests/Home/HomePageOnGet.cs
Labels: Testing

#175 Fixed Swagger 404 Error
  SAP1EMU.GUI/Controllers/SitemapController.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
Labels: GUI

#176 Deploy v3.1.1
  .github/workflows/dotnet-core.yml
  SAP1EMU.GUI/Controllers/SitemapController.cs
  SAP1EMU.GUI/SAP1EMU.GUI.csproj
Labels: Release
